{% if is_granted("ROLE_TEAM") %}
    <li><a href="{{ path("team_tournaments") }}">Plánování zápasů</a></li>
{% endif %}
<li><a href="{{ path("tournament_index") }}">Turnaje</a></li>
{% for page in pages %}
    <li class="{% if app.request.attributes.get('_route') == 'page_show' %}active{% endif %}"><a href="{{ path('page_show', {'id': page.id}) }}">{{ page.title }}</a></li>
{% endfor %}