{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seznam turnajů</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Název turnaje</th>
            <th>Od</th>
            <th>Do</th>
            <th>&nbsp;</th>
        </tr>

        {% for tournament in tournaments %}
            <tr>
                <td>
                    <a href="{{ path("tournament_show", {"id": tournament.id}) }}">{{ tournament.name }}</a>
                </td>
                <td>
                    {{ tournament.start |date('d. m. Y') }}
                </td>
                <td>
                    {{ tournament.end |date('d. m. Y') }}
                </td>
                <td>
                    {% if tournament.deadline <= date() %}
                        probíhá přihlašování
                    {% elseif date() >= tournament.start and date() <= tournament.end %}
                        probíhá
                    {% elseif date() >= tournament.end %}
                        odehráno
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {%  endfor %}
    </table>
{% endblock %}
